<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example Page</title>
	
	<!-- Adding CSS -->
	<link rel="stylesheet" href="" th:href="@{/CSS/MyStyle.css}" />
</head>
<body>
	<div class="container">
		<h1>Adding CSS, Javascript and Image in Thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		Molestiae sit suscipit accusamus dolorum hic nostrum deleniti tenetur repudiandae ipsam rerum. 
		Eveniet tempora inventore porro ut animi error quibusdam voluptate minus.</p>
	</div>
	
	<!-- Adding Javascript -->
	<script src="" th:src="@{/JS/MyJs.js}"></script>
	
	<!-- Adding Image -->
	<img src="" th:src="@{/IMAGE/Ganesh.jpg}" alt="" class="img" />
	
</body>
</html>